{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="flex-container">
    <div class="text-accroche">
        <span>Embarquez avec Coderoad pour devenir le développeur web que vous aspirez à être !</span>
        <p>Créez votre compte dès maintenant et commencez à coder !</p>
    </div>
    {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}
        
            <button type="submit" class="btn form-submit">LOG IN</button>
    <div class="domino-effect"></div>
        {{ form_end(registrationForm) }}
</div>
{% endblock %}