{% extends 'base.html.twig' %}

{% block title %}Coderoad
{% endblock %}

{% block body %}
	<div class="users-row">
		{% for entry in roadmap %}
			<div class="user-block">
				<div class="header">
					<div class="username">
						{{ entry.user.username }}
					</div>
				</div>
				{% for item in entry.items %}
					<div class="tree">
						<div class="task" onclick="showSidebar('{{ item.type }}', '{{ item.data.description }}')">
							<div class="task__header {{item.data.status == 1 ? 'task__todo' : item.data.status == 2 ? 'task__inprogress' : 'task__done'}}">
								<span class="status">{{ item.data.statusStr }}</span>
								<span class="menu">•••</span>
							</div>
							<div class="task__content">
								{{ item.data.description}}
							</div>
							<div class="task__footer">

								{{ item.type == 'challenge' ? 'challenge' : 'projet' }}

							</div>
						</div>
						{% if not loop.last %}
							<div class="connector"></div>
						{% endif %}

					</div>
				{% endfor %}
			</div>

		{% endfor %}
	</div>

	{% include "partials/sidebar.html.twig" %}
{% endblock %}
